<div class="page">

	<div *ngIf="clientInformation$ | async as clientInfo else loadingIdicator">

		<h3>Einloggen und {{clientInfo.zurueckText}}</h3>

		<form novalidate [formGroup]="loginForm">

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="loginNameInput" class="label-bold">Loginname oder Email*</label>
					</div>
				</div>
				<div class="row" [class.error]="loginName.touched && !loginName.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="loginNameInput" placeholder="Loginname"
							formControlName="loginName" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="loginName" text="Loginname oder Email"></cmn-form-error>
			</div>

			<!-- formControlName muss dieser Komponente mit einem AbstractControl verknüpft sein... -->
			<!-- ...und in der password-spy.component mit einem AbstractControl gleichen Namens verknüpft sein... -->
			<cmn-password id="passwortInput" formControlName="password" textLabel="Passwort"></cmn-password>

			<div class="form-group kleber">
				<label for="kleberInput">Kleber:</label>
				<input class="form-control" type="text" id="kleberInput" placeholder="leer lassen!!!!"
					formControlName="kleber">
			</div>

			<div class="btn-group d-flex" role="group">
				<button class="btn btn-primary w-100 ml-1" (click)="submit()"
					[disabled]="submitDisabled()">einloggen</button>

				<button class="btn btn-primary w-100 ml-1" (click)="gotoOrderTempPwd()">
					Passwort vergessen
				</button>

				<a class="btn btn-outline-dark w-100 ml-1" href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html" target="_blank">Anleitung Passwort vergessen</a>
			</div>

		</form>
	</div>
</div>

<ng-template #loadingIdicator>
	<h3>Bitte warten...</h3>
</ng-template>
