label {
    font-size: 16px;
}

.mdc-data-table__header-cell {
    padding: 0;
}

/*
das hier funktioniert nicht:
mat-header-cell, mat-cell {
    text-align: left;
}
*/

mat-row:hover {
    cursor: pointer;
}

/** Definition der Spaltenbreiten */

.mat-column-uuid {
    flex: 0 0 10%;
    /* Adjust the width as needed */
}

.mat-column-betreff {
    flex: 0 0 80%;
    /* Adjust the width as needed */
}

.mat-column-anzahlVersendet {
    flex: 0 0 10%;
    /* Adjust the width as needed */
}

