<div class="page">

	<div *ngIf="clientInformation$ | async as clientInfo">

		<p>Benutzerkonto anlegen und {{clientInfo.zurueckText}}</p>

		<div *ngIf="showTheWarning()" class="bordered">
			<p><strong>ACHTUNG! </strong> Da Sie von einer anderen Anwendung hierher gelangt sind, werden Sie mit diesem Benutzerkonto 
				nicht am Minikänguru-Wettbewerb teilnehmen können.</p>
			<p>Wenn Sie am Minikänguru-Wettbewerb teilnehmen möchten, registrieren Sie sich bitte über die <a
					href="https://mathe-jung-alt.de/mkv-app#/registrierung" target="_blank">Minikänguru-Anwendung</a>.</p>
		</div>	

		<form [formGroup]="signUpForm">

			<div class="form-group">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<label for="switch-agb" class="label-bold">Ich habe die Datenschutzerklärung gelesen und willige
							ein*</label>
					</div>
					<div class="col-sm-12 col-md-6">
						<a href="{{datenschutzUrl}}" target="_blank" class="btn btn-link">Datenschutzerkl&auml;rung</a>
					</div>
				</div>
				<cmn-switch id="switch-agb" formControlName="agbGelesen"></cmn-switch>
				<cmn-form-error path="switch-agb" text="Bitte bestätigen Sie."></cmn-form-error>
			</div>
			<p *ngIf="isDev">Gelesen hat den Wert {{getValueAgbGelesen()}}</p>

			<div *ngIf="clientInfo.namenRequired" class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="vornameInput" class="label-bold">Vorname*</label>
					</div>
				</div>
				<div class="row" [class.error]="vorname.touched && !vorname.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="vornameInput" placeholder="Vorname"
							formControlName="vorname" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="vorname" text="Vorname"></cmn-form-error>
			</div>
			<div *ngIf="clientInfo.namenRequired" class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="nachnameInput" class="label-bold">Nachname*</label>
					</div>
				</div>
				<div class="row" [class.error]="nachname.touched && !nachname.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="nachnameInput" placeholder="Nachname"
							formControlName="nachname" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="nachname" text="Nachname"></cmn-form-error>
			</div>
			<div *ngIf="clientInfo.loginnameSupported" class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="loginNameInput" class="label-bold">Loginname*</label>
					</div>
				</div>
				<div class="row" [class.error]="loginName.touched && !loginName.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="loginNameInput" placeholder="Loginname"
							formControlName="loginName" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="loginName" text="Loginname"></cmn-form-error>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="emailInput" class="label-bold">Email*</label>
					</div>
				</div>
				<div class="row" [class.error]="email.touched && !email.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse"
							formControlName="email" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="email" text="Email"></cmn-form-error>
			</div>

			<!-- formControlName muss in dieser Komponente der key eines FormControls sein... -->
			<!-- Auf die Werte in der FormGroup wird über die Namen der einzelnen Controls zugegriffen -->
			<cmn-double-password id="doublePassword" formControlName="doublePassword" labelFirstPassword="Passwort"
				labelSecondPassword="Passwort wiederholt"></cmn-double-password>

			<div class="form-group kleber">
				<label for="kleberInput">Kleber:</label>
				<input class="form-control" type="text" id="kleberInput" placeholder="leer lassen!!!!"
					formControlName="kleber">
			</div>

			<div class=" d-flex" role="group">
				<button class="btn btn-primary w-100 ml-1" (click)="submitUser()" [disabled]="submitDisabled()">
					registrieren
				</button>
				<button class="btn btn-primary w-100 ml-1" (click)="openDialogPasswordRules()"
					title="{{tooltipPasswort}}">
					Passwortregeln
				</button>
			</div>
		</form>
	</div>
</div>

<ng-template #dialogPasswordRules let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Passwortregeln</h4>
	</div>
	<div class="modal-body">
		<p>mindestens 8 und höchstens 100 Zeichen</p>
		<p>mindestens ein Buchstabe und mindestens eine Ziffer</p>
		<p>keine Leerzeichen am Anfang und am Ende</p>
		<p>erlaubte Sonderzeichen: {{theSonderzeichen}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
	</div>
</ng-template>

