*~
.nx/

backend/bv-admin/src/main/resources/META-INF/openapi/openapi.json
backend/bv-admin/src/main/resources/META-INF/openapi/openapi.yaml

backend/authprovider/src/main/resources/META-INF/openapi/openapi.json
backend/authprovider/src/main/resources/META-INF/openapi/openapi.yaml

backend/benutzerprofil/src/main/resources/META-INF/openapi/openapi.json
backend/benutzerprofil/src/main/resources/META-INF/openapi/openapi.yaml
