<div class="mja-container">
    @if(versandauftraegeFacade.selectedMailversandgruppe$ | async; as gruppe) {

    <h1>Mailversandgruppe</h1>

    <div class="details-container mt-2 mb-2">
        <div class="subtitle">UUID:</div>
        <div>{{gruppe.uuid}}</div>

        <div class="subtitle">ID Infomailtext:</div>
        <div>{{gruppe.idInfomailtext}}</div>

        <div class="subtitle">Sortiernummer:</div>
        <div>{{gruppe.sortnr}}</div>

        <div class="subtitle">Status:</div>
        <div>{{gruppe.status}}</div>

        <div class="subtitle">Änderungsdatum:</div>
        <div>{{gruppe.aenderungsdatum}}</div>
    </div>

    <h3>Benutzer ({{gruppe.benutzer.length}})</h3>

    <mat-table [dataSource]="gruppe.benutzer" class="mat-elevation-z2">
        <!-- UUID -->
        <ng-container matColumnDef="uuid">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    UUID
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.uuid.substring(0,8)}}
            </mat-cell>>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Email
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.email}}
            </mat-cell>>
        </ng-container>

        <!-- Nachname -->
        <ng-container matColumnDef="nachname">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Nachname
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.nachname}}
            </mat-cell>>
        </ng-container>

        <!-- Vorname -->
        <ng-container matColumnDef="vorname">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Vorname
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.vorname}}
            </mat-cell>>
        </ng-container>

        <!-- aenderungsdatum -->
        <ng-container matColumnDef="aenderungsdatum">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    geändert am
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.aenderungsdatum}}
            </mat-cell>>
        </ng-container>

        <!-- Rolle -->
        <ng-container matColumnDef="rolle">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Rolle
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.rollen}}
            </mat-cell>>
        </ng-container>

        <!-- Action Column removeFromGroup -->
        @if(isGruppeAenderbar(gruppe)) {
        <ng-container matColumnDef="removeFromGroup">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                <button mat-button color="primary" (click)="benutzerEntfernen(benutzer, gruppe)"
                    title="Benutzer aus der Gruppe entfernen">
                    <mat-icon>delete</mat-icon> weg
                </button>
            </mat-cell>
        </ng-container>
        } @else {
        <ng-container matColumnDef="removeFromGroup">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                <mat-icon>block</mat-icon>
            </mat-cell>
        </ng-container>
        }


        <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns()"
            [ngClass]="{'bg-beige': !row.aktiviert}"></mat-row>
    </mat-table>

    <div class="button-container">
        <button mat-raised-button color="primary" class="action-button" (click)="goBack()"
            title="zurück zum Versandauftrag">Versandauftrag</button>
        <button mat-raised-button color="primary" class="action-button" (click)="refresh(gruppe)"
            [disabled]="btnRefreshDisabled(gruppe)" title="neu Laden">aktualisieren</button>

        @if(isGruppeAenderbar(gruppe) && gruppe.status !== "CANCELLED") {
        <button mat-raised-button color="primary" (click)="statusZuruecksetzen(gruppe)"
            title="zurücksetzen auf CANCELLED">Status zurücksetzen</button>
        }

        <button mat-raised-button color="primary" (click)="saveGruppe(gruppe)"
            title="Änderungen speichern">speichern</button>
    </div>

    } @else {
    <h1>Mailversandgruppe</h1>

    <p>Keine Mailversandgruppe ausgewählt. Navigiere über das Menü oben woandershin. Auswahl ist unter
        "Mailversandaufträge" und Klick auf einen Auftrag möglich.</p>
    }
</div>