  .main {
    display: grid;
    grid-template-rows: 1fr auto; /* One row for content, one for footer */
    min-height: 100vh; /* Ensure the grid takes the full viewport height */
  }

  .content {
      padding: 30px;
      /* Adjust for your content's spacing needs */
      overflow-y: auto;
      /* This ensures that only the content scrolls if it's too large */
  }

  footer {
      background-color: #194778;
      color: white;
      text-align: center;
      padding: 20px;
      height: 80px;
  }
