<div class="main">
    <div class="content">
        <auth-common-loader></auth-common-loader>
        <auth-common-message></auth-common-message>
        <h1>Mathe für jung und alt - Login / Registrierung</h1>

        <div class="centered">
            <img src={{imageSourceLogo}} alt="" aria-role="mathe-jung-alt-Logo" />
        </div>

        <p>DSGVO- konformes Benutzerkonto für Angebote von "Mathe für
            jung und alt":</p>

        <ul class="info-list">
            <li class="info-item">
                <a href="https://mathe-jung-alt.de/mkv-app" target="_blank">Minikänguru-Anwendung - zur Organisation Ihres Minikänguru-Wettbewerbs</a>
            </li>
            <li class="info-item">
                <a href="https://mathe-jung-alt.de/mja-app/" target="_blank">Anwendung "Mathe für jung und alt" mit Unterrichtsmaterial</a>
            </li>
        </ul>


        <p>Informationen zum Datenschutz finden Sie hier: <a href="{{configuration.datenschutzUrl}}"
                target="_blank">Datenschutz</a></p>

        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="row">
            <div class="col-md-4 text-md-left">&copy; Heike Winkelvoß</div>
            @if(!configuration.production){
            <div class="col-md-4 text-xs-center">env: {{configuration.envName}}, API: {{configuration.baseUrl}}</div>
            }
            <div class="col-md-4 text-md-right">Version {{configuration.version}}</div>
        </div>
    </footer>
</div>