/** Breiten der Spalten definieren  */
.mat-column-auswahlBenutzer {
    flex: 0 0 5%;
}

.mat-column-statusIcons {
    flex: 0 0 5%;
}

.mat-column-uuid {
    flex: 0 0 15%;
}

.mat-column-loginCount {
    flex: 0 0 5%;
}


.mat-column-email {
    flex: 0 0 20%;
}

.mat-column-vorname {
    flex: 0 0 14%;
}

.mat-column-nachname {
    flex: 0 0 14%;
}

.mat-column-dateModified {
    flex: 0 0 14%;
}

.mat-column-actionMenu {
    flex: 0 0 5%;
}
