<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon class="nav-icon">person</mat-icon>
        <span class="nav-caption">Benutzerkonto</span>
    </a>

    @if(authFacade.userIsLoggedIn$ | async) {

    <a mat-list-item routerLink="/passwort" (click)="onSidenavClose()">
        <mat-icon class="nav-icon">password</mat-icon>
        <span class="nav-caption">Passwort</span>
    </a>

    <a mat-list-item routerLink="/loeschung-benutzerkonto" (click)="onSidenavClose()">
        <mat-icon class="nav-icon">delete</mat-icon>
        <span class="nav-caption">Konto löschen</span>
    </a>

    <a mat-button (click)="logout()" (click)="onSidenavClose()">
        <mat-icon class="nav-item">logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>

    } @else {
        <a mat-button (click)="login()" (click)="onSidenavClose()">
            <mat-icon class="nav-item">login</mat-icon>
            <span class="nav-caption">einloggen</span>
        </a>
    }

    <a mat-list-item href="https://mathe-jung-alt.de/impressum.html" target="_blank">
        <span class="nav-caption">Impressum</span>
    </a>
</mat-nav-list>