ENV=dev
STAGE=dev

QUARKUS_HTTP_PORT=10600

TARGET_ORIGIN=localhost:4300,localhost:4400

AUTH_APP_URL=http://localhost:4300

#=================================================================#
#        Redirect URL                                             #
#=================================================================#
#AUTH_REDIRECT_URL_LOGIN=http://localhost:4400
AUTH_REDIRECT_URL_LOGIN=http://localhost:10600/profil-app

#=================================================================#
#        REST-Clients                                             #
#=================================================================#
QUARKUS_REST_CLIENT_ACCESSTOKEN_URL=http://localhost:10000/authprovider
QUARKUS_REST_CLIENT_PROFILE_URL=http://localhost:10000/authprovider
QUARKUS_REST_CLIENT_TOKEN_EXCHANGE_URL=http://localhost:10000/authprovider
QUARKUS_REST_CLIENT_MK_GATEWAY_URL=http://localhost:9510/mk-gateway

QUARKUS.HTTP_CORS_ORIGINS = http://localhost:4300,http://localhost:4400,http://localhost:10600

SYNC_INFRASTRUCTURE_AVAILABLE=false

QUARKUS_LOG_CATEGORY_DE_EGLADIL_WEB_PROFIL_SERVER_LEVEL=INFO