@if(infomail) {
<mat-card appearance="raised">
    <mat-card-header>
        <mat-card-title>{{infomail.betreff}}</mat-card-title>
        <mat-card-subtitle>{{infomail.uuid}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{infomail.mailtext}}</p>
    </mat-card-content>
    <mat-card-actions>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="startEdit()">bearbeiten</button>
            <button mat-raised-button [disabled]="btnMailauftragErstellenDisabled()"
                (click)="mailauftragErstellen()"
                title="Mailversandauftrag mit diesem Text an die gewälten Benutzer erstellen">Mailauftrag</button>
        </div>
    </mat-card-actions>
</mat-card>
} @else {
    <p>kein Text ausgewählt</p>
}