<div class=bv-container>
    @if (authFacade.userIsLoggedIn$ | async) {
    <h1 class="centered">Benutzerverwaltung</h1>
    } @else {
    <h1 class="centered">Hier gibt es nichts zu sehen. Gehen Sie bitte weiter.</h1>
    <p>Zum Beispiel auf meine <a href="https://mathe-jung-alt.de" target="_blank">Mathe-Seiten</a></p>
    <p>oder zum <a href="https://mathe-jung-alt.de/minikaenguru/index.de" target="_blank">Minikänguru-Wettbewerb</a></p>
    <p>oder zu <a href="https://mathe-jung-alt.de/mja-app/" target="_blank">Mathe für jung und alt</a></p>
    }
</div>