<!-- Falls die modalOpenOnClick-Direktive verwendet wird, Dialog zum Anzeigen des SignUp-Erfolgs inside *ngIf, weil sie sonst keine Elemente bekommt -->
<div>
	<!-- Dialog mit Erfolgsmeldung -->
	<ng-template #successDialogBody>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h4>Einmalpasswort geändert</h4>
				</div>
				<div class="card-body">
					<p>Sie haben das Einmalpasswort erfolgreich geändert.</p>
					<p *ngIf="canRedirect()">Nach dem Schließen des Dialogs gelangen Sie {{zurueckText}}</p>
				</div>
				<div class="card-footer">
					<div class="row btn-container">
						<div class="col-md-12 btn-wrapper">
							<div class="col-md-12 btn btn-outline-dark" (click)="closeModal()">
								OK
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>

<hewi-modal *ngIf="showChangePasswordResult" #modal [hideOnEscape]="false" [hideOnClickOutside]="false"
	[body]="successDialogBody">
	<!-- === kein close-icon, da unbedingt redirect ausgelöst werden muss -->
	<!--<i class="fa fa-times" (click)="modal.close()"></i>-->
</hewi-modal>


<div class="page">

	<div *ngIf="queryParams$ | async as queryParams else loadingIdicator">

		<p>Einmalpasswort ändern</p>

		<form *ngIf="!showChangePasswordResult" novalidate [formGroup]="changePwdForm">

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="emailInput">Email*</label>
					</div>
				</div>
				<div class="row" [class.error]="email.touched && !email.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse"
							formControlName="email" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="email" text="Email"></cmn-form-error>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="tempPasswordInput">Einmalpasswort*</label>
					</div>
				</div>
				<div class="row" [class.error]="tempPassword.touched && !tempPassword.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="tempPasswordInput" placeholder="Einmalpasswort"
							formControlName="tempPassword">
					</div>
				</div>
				<cmn-form-error path="tempPassword" text="Einmalpasswort"></cmn-form-error>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="passwortInput">Passwort*</label>
					</div>
				</div>
				<div class="row" [class.error]="passwort.touched && !passwort.valid">
					<div class="col-xs-12 col-sm-10 btn-wrapper">
						<input class="form-control" type="password" id="passwortInput" placeholder="Passwort"
							formControlName="passwort" autocomplete="false">
					</div>
					<div class="col-xs-12 col-sm-2 btn-wrapper">
						<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
							title="{{tooltipPasswort}}">
							<i class="fa fa-info" aria-hidden="true"></i> Info
						</button>
					</div>
				</div>
				<cmn-form-error path="passwort" text="Passwort"></cmn-form-error>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="passwortWdhInput">Passwort wiederholt*</label>
					</div>
				</div>
				<div class="row" [class.error]="passwortWdh.touched && !passwortWdh.valid">
					<div class="col-md-12">
						<input class="form-control" type="password" id="passwortWdhInput"
							placeholder="Passwort wiederholt" formControlName="passwortWdh" autocomplete="false">
					</div>
				</div>
				<cmn-form-error path="passwortWdh" text="Passwort wiederholt"></cmn-form-error>
			</div>

			<!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
			<div *ngIf="changePwdForm.hasError('passwortNeuPasswortNeuWdh')" class="alert alert-danger">Die
				Passw&ouml;rter
				stimmen
				nicht &uuml;berein.</div>

			<div class="btn-group d-flex" role="group">
				<button class="btn btn-primary w-100 ml-1" (click)="submit()"
					[disabled]="!changePwdForm.valid || submitDisabled">
					absenden
				</button>

				<a class="btn btn-outline-dark w-100 ml-1"
					href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.pdf"
					target="_blank">Warum funktioniert es nicht?</a>
			</div>
		</form>

		<div *ngIf="showChangePasswordResult" class="row">
			<p>{{message}}</p>
		</div>

	</div>
</div>


<ng-template #loadingIdicator>
	<h3>Bitte warten...</h3>
</ng-template>
