<div class="page">

	<div *ngIf="queryParams$ | async as queryParams else loadingIndicator">

		<p>Einmalpasswort ändern</p>

		<form *ngIf="!showChangePasswordResult" novalidate [formGroup]="changePwdForm">

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="emailInput" class="label-bold">Email*</label>
					</div>
				</div>
				<div class="row" [class.error]="email.touched && !email.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse"
							formControlName="email" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="email" text="Email"></cmn-form-error>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="tempPasswordInput" class="label-bold">Einmalpasswort*</label>
					</div>
				</div>
				<div class="row" [class.error]="tempPassword.touched && !tempPassword.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="tempPasswordInput" placeholder="Einmalpasswort"
							formControlName="tempPassword">
					</div>
				</div>
				<cmn-form-error path="tempPassword" text="Einmalpasswort"></cmn-form-error>
			</div>

			<!-- formControlName muss in dieser Komponente der key eines FormControls sein... -->
			<!-- Auf die Werte in der FormGroup wird über die Namen der einzelnen Controls zugegriffen -->
			<cmn-double-password id="doublePassword" formControlName="doublePassword" labelFirstPassword="Passwort" labelSecondPassword="Passwort wiederholt" ></cmn-double-password>

			<div *ngIf="appData.loading$ | async as isLoading" class="mt-4 mb-4">
				<div *ngIf="!isLoading else loadingIndicator"></div>
			</div>

			<div class="btn-group d-flex" role="group">
				<button class="btn btn-primary w-100 ml-1" (click)="submit()"
					[disabled]="!changePwdForm.valid || submitDisabled">
					absenden
				</button>

				<button class="btn btn-primary w-100 ml-1" (click)="openDialogPasswordRules()" title="{{tooltipPasswort}}">
					Passwortregeln
				</button>

				<a class="btn btn-outline-dark w-100 ml-1"
					href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html"
					target="_blank">Warum funktioniert es nicht?</a>
			</div>
		</form>

		<div *ngIf="showChangePasswordResult" class="row">
			<p>{{message}}</p>
		</div>

	</div>
</div>

<ng-template #successDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Einmalpasswort geändert</h4>
    </div>
    <div class="modal-body">
        <p>Sie haben das Einmalpasswort erfolgreich geändert.</p>
		<p *ngIf="canRedirect()">Nach dem Schließen des Dialogs gelangen Sie {{zurueckText}}</p>
    </div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>


<ng-template #dialogPasswordRules let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Passwortregeln</h4>
    </div>
    <div class="modal-body">
        <p>mindestens 8 und höchstens 100 Zeichen</p>
		<p>mindestens ein Buchstabe und mindestens eine Ziffer</p>    
		<p>keine Leerzeichen am Anfang und am Ende</p>
		<p>erlaubte Sonderzeichen: {{theSonderzeichen}}</p>
    </div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>


<ng-template #loadingIndicator>
	<div class="img">
		<i class="fa fa-spinner fa-spin"></i> Bitte warten...
	</div>
</ng-template>
