<h2>Neues Passwort</h2>

@if(tokenId !== null) {
<p>Mit Ihrem per Mail gesendeten Einmalpasswort können Sie nun das Passwort für Ihr Benutzerkonto ändern.</p>
<p>Bitte geben Sie die Mailadresse ein, an die der Link und das Einmalpasswort gesendet wurden.</p>

<form [formGroup]="parentForm">
    <mat-form-field appearance="fill">
        <mat-label>Mailadresse</mat-label>
        <input matInput formControlName="email" type="text" title="Mailadresse Ihres Benutzerkontos"
            [ngClass]="{ 'invalid-field': parentForm.get('email')?.invalid && parentForm.get('email')?.touched }">
        @if (parentForm.get('email')?.hasError('required')) {
        <mat-error>Eine Mailadresse ist erforderlich.</mat-error>
        }
        @if (parentForm.get('email')?.hasError('pattern')) {
        <mat-error>Bitte geben Sie eine gültige Mailadresse ein.</mat-error>
        }
        @if (parentForm.get('email')?.hasError('maxlength')) {
        <mat-error>Die Mailadresse darf maximal 255 Zeichen lang sein.</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Einmalpasswort aus der Mail</mat-label>
        <input matInput formControlName="tempPassword" type="text" title="das Einmalpasswort aus der Mail"
            [ngClass]="{ 'invalid-field': parentForm.get('tempPassword')?.invalid && parentForm.get('tempPassword')?.touched }">
        <!-- @if (parentForm.get('tempPassword')?.hasError('required')) {
        <mat-error>Das Einmalpasswort ist erforderlich.</mat-error>
        }
        @if (parentForm.get('tempPassword')?.hasError('pattern')) {
        <mat-error>Bitte kopieren Sie das Einmalpasswort aus der Email.</mat-error>
        }
        @if (parentForm.get('tempPassword')?.hasError('maxlength')) {
        <mat-error>Das Einmalpasswort ist zu lang. Bitte kopieren Sie es aus der Email.</mat-error> -->
        <!-- } -->
    </mat-form-field>
    <auth-common-zwei-passworte [labelPasswort1]="'neues Passwort'" [labelPasswort2]="'neues Passwort wiederholen'"
        (passwordChanges)="handlePasswordChanges($event)" (isValid)="handleNeuePasswoerterValidityChanges($event)">
    </auth-common-zwei-passworte>

    <div class="kleber">
        <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput formControlName="kleber" type="text">
        </mat-form-field>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="buttonSubmitDisabled()"
            (click)="submit()"><mat-icon class="nav-item">save</mat-icon>absenden</button>
        <button mat-raised-button color="primary" type="submit" (click)="gotoPasswortVergessen()">Passwort
            vergessen</button>
        <a href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html" target="_blank">Warum
            funktioniert es nicht?</a>
    </div>
</form>

}
@else {
<div class="button-container">
    <button mat-raised-button color="primary" type="submit" (click)="gotoStartseite()"><mat-icon
            class="nav-item">home</mat-icon>zurück</button>
    <a href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html" target="_blank">Anleitung
        Passwort vergessen</a>
</div>
}