<div class="centered">
        <img src={{imageSourceLogo}} alt="" aria-role="mathe-jung-alt-Logo" />
        <h1>Benutzerkonto für den Minikänguru-Wettbewerb und den Knobelbaukasten</h1>
</div>

@if(authFacade.userIsLoggedOut$ | async) {
<ng-container *ngTemplateOutlet="erklaertext"></ng-container>
}

@if(authFacade.userIsLoggedIn$ | async){

@if(!shellService.isHandset()) {
<ng-container *ngTemplateOutlet="erklaertext"></ng-container>
}

<p>Was möchten Sie tun?</p>
<div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="gotoBenutzerdaten()"><mat-icon
                        class="nav-item">person</mat-icon>Daten ändern</button>
        <button mat-raised-button color="primary" type="submit" (click)="gotoPasswort()"><mat-icon
                        class="nav-item">password</mat-icon>Passwort ändern</button>
        <button mat-raised-button color="warn" type="submit" (click)="gotoLoeschung()"><mat-icon
                        class="nav-item">delete</mat-icon>Konto löschen</button>
        @if(shellService.isHandset()){
        <button mat-raised-button color="primary" type="submit" (click)="logout()">
                <mat-icon class="nav-item">logout</mat-icon>
                ausloggen</button>
        }
</div>
}@else {

@if(shellService.isHandset()){
<div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="login()">
                <mat-icon class="nav-item">login</mat-icon>
                einloggen</button>
</div>
}
}

<ng-template #erklaertext>
        <p>Hier können Sie Ihre Benutzerdaten ändern oder Ihr Konto löschen, falls Sie es nicht mehr benötigen.</p>
        <p>Dies betrifft Ihr Konto für den Minikänguru-Wettbewerb sowie den Knobelbaukasten (ehemals "Mathe für jung und
                alt").</p>
        <p>Ein Konto anlegen können Sie in der <a href="https://mathe-jung-alt.de/minikaenguru"
                        target="blank">Minikänguru-Anwendung</a> oder in der Anwendung <a
                        href="https://mathe-jung-alt.de/mja-app/" target="_blank">Knobelbaukasten</a>.</p>
</ng-template>