QUARKUS_HTTP_PORT=10600

TARGET_ORIGIN=localhost:4300,localhost:4400,localhost:10600,localhost:10000

PUBLIC-CLIENT-ID=T73pF0WTZLuFTv0nbXgqIiXAxyl935c4WCBNwq32uvfQ
PUBLIC-CLIENT-SECRET=start123

MOCK_KONTOLOESCHUNG=false

# SAME_SITE: STRICT, LAX, NONE
# es reicht, path zu überschreiben.
# mittels Angular-CLI-Proxy kommen alle requests von localhost, so dass immer same-side=Strict funktioniert, auch während der Entwicklung
# es könnte sein, dass es im lokalen Docker nicht klappt, aber das müssen wir testen
SESSION_COOKIE_PATH=/
CSRF_COOKIE_PATH=/
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false

# Generierung signature-key: (base64 encoded)
## openssl rand -base64 64 | tr -d '\n'
CSRF_COOKIE_SIGNATURE_KEY=generieren-und-eintragen

# Deaktiviert HSTS sofort
QUARKUS_HTTP_HEADER__STRICT_TRANSPORT_SECURITY__VALUE="max-age=0"

#=================================================================#
#    authprovider, Redirect URLs, REST-Client                     #
#                                                                 #
# PUBLIC_REDIRECT_URL muss ohne http:// und endenden / in         #
# CLIENTS.REDIRECT_URLS vorkommen!! Für das korrekte redirect     #
# sollten sie aber u.U. vorhanden sein.                           #
#                                                                 #
#=================================================================#
# ---- lokale Entwicklung, wenn auch authprovider lokal läuft ----
#AUTH_APP_URL=http://localhost:4300/
#PUBLIC_REDIRECT_URL=http://localhost:4400
#QUARKUS_REST_CLIENT_AUTHPROVIDER_URL=http://localhost:10000

# ---- lokale Entwicklung, wenn authprovider in docker läuft ----
AUTH_APP_URL=http://localhost:9000/authprovider/
PUBLIC_REDIRECT_URL=http://localhost:4400
QUARKUS_REST_CLIENT_AUTHPROVIDER_URL=http://localhost:9000

QUARKUS_HTTP_CORS_ORIGINS=http://localhost:4300,http://localhost:4400,http://localhost:10600

#=============================================================================================#
#        Logging                                                                              #
#=============================================================================================#
QUARKUS_LOG_FILE_ENABLE=false
QUARKUS_HTTP_ACCESS_LOG_LOG_TO_FILE=false

QUARKUS_LOG_CATEGORY__DE_EGLADIL_WEB_BENUTZERPROFIL_INFRASTRUCTURE_FILTERS__LEVEL=WARN
QUARKUS_LOG_CATEGORY__DE_EGLADIL_BENUTZERPROFIL_DOMAIN_AUTH_SESSION_SESSIONUTILS__LEVEL=WARN
QUARKUS_LOG_CATEGORY__DE_EGLADIL_BENUTZERPROFIL_INFRASTRUCTURE_CDI_AUTHENTICATIONCONTEXTIMPL__LEVEL=WARN

QUARKUS_LOG_CATEGORY__ORG_JBOSS_RESTEASY_REACTIVE_CLIENT_LOGGING_DEFAULTCLIENTLOGGER__LEVEL=WARN
