<div class="centered mja-container">
    <h1>Versandaufträge</h1>

    @if(versandauftraegeFacade.versandauftraege$ | async; as versandauftraege) {
    <mat-table [dataSource]="versandauftraege" class="mat-elevation-z8 mt-2">

        <!-- Betreff -->
        <ng-container matColumnDef="betreff">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Betreff
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                {{versandauftrag.betreff}}
            </mat-cell>>
        </ng-container>

        <!-- erfasst am -->
        <ng-container matColumnDef="erfasstAm">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    erfasst am
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                {{versandauftrag.erfasstAm}}
            </mat-cell>>
        </ng-container>


        <!-- Status -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Status
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                {{versandauftrag.status}}
            </mat-cell>>
        </ng-container>

        <!-- Anzahl Empfänger -->
        <ng-container matColumnDef="anzahlEmpfaenger">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Anzahl Empfänger
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                {{versandauftrag.anzahlEmpfaenger}}
            </mat-cell>>
        </ng-container>

        <!-- Anzahl Gruppen -->
        <ng-container matColumnDef="anzahlGruppen">
            <mat-header-cell *matHeaderCellDef>
                <label class="ml-1">
                    Anzahl Gruppen
                </label>
            </mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                {{versandauftrag.anzahlGruppen}}
            </mat-cell>>
        </ng-container>

        <!-- details action Column -->
        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                <button mat-button color="primary" (click)="selectVersandauftrag(versandauftrag)"
                    title="Details anschauen">
                    <mat-icon>info</mat-icon> Details
                </button>
            </mat-cell>
        </ng-container>

        <!-- cancel action Column -->
        <ng-container matColumnDef="cancel">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                @if(versandauftrag.status === 'WAITING' || versandauftrag.status === 'IN_PROGRESS') {
                <button mat-button color="primary" (click)="cancel(versandauftrag)" title="abbrechen">
                    <mat-icon>cancel</mat-icon> Stopp
                </button>
                }
            </mat-cell>
        </ng-container>

        <!-- delete action Column -->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let versandauftrag">
                @if(versandauftrag.status !== 'WAITING' && versandauftrag.status !== 'IN_PROGRESS') {
                <button mat-button color="warn" (click)="delete(versandauftrag)" title="löschen">
                    <mat-icon>delete</mat-icon> löschen
                </button>
                }
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>

    </mat-table>
    }

</div>