<div class="mja-container">
    @if(versandauftraegeFacade.selectedVersandauftrag$ | async; as guimodel) {

    <!-- TODO: hier kommt das MailversandauftragGUIModel an. Das muss also geändert werden und ein Statistikbereich kommt hinzu -->

    <h1>Mailversandauftrag</h1>

    <div class="details-container mt-2 mb-5">
        <div class="subtitle">UUID:</div>
        <div>{{guimodel.mailversandauftrag.uuid}}</div>

        <div class="subtitle">erfasst am:</div>
        <div>{{guimodel.mailversandauftrag.erfasstAm}}</div>

        <div class="subtitle">Status:</div>
        <div>{{guimodel.mailversandauftrag.status}}</div>

        @if(guimodel.mailversandauftrag.versandBegonnenAm) {
        <div class="subtitle">begonnen am:</div>
        <div>{{guimodel.mailversandauftrag.versandBegonnenAm}}</div>
        }

        @if(guimodel.mailversandauftrag.versandBeendetAm) {
        <div class="subtitle">beendet am:</div>
        <div>{{guimodel.mailversandauftrag.versandBeendetAm}}</div>
        }

        <div class="subtitle">Betreff:</div>
        <div>{{guimodel.mailversandauftrag.betreff}}</div>

        <div class="subtitle">Mailtext:</div>
        <div>{{guimodel.mailversandauftrag.mailtext}}</div>

    </div>

    <h3>Statistik</h3>
    <div class="details-container mt-2 mb-5">
        <div class="subtitle">Status cancelled:</div>
        <div>{{guimodel.statistik.cancelled}}</div>

        <div class="subtitle">Status completed:</div>
        <div>{{guimodel.statistik.completed}}</div>

        <div class="subtitle">Status errors:</div>
        <div>{{guimodel.statistik.errors}}</div>

        <div class="subtitle">Status inProgress:</div>
        <div>{{guimodel.statistik.inProgress}}</div>

        <div class="subtitle">Status waiting:</div>
        <div>{{guimodel.statistik.waiting}}</div>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" class="action-button" (click)="goBack()"
            title="zurück zu den Versandaufträgen">Versandaufträge</button>
        @if(canFortsetzen(guimodel.mailversandauftrag)) {
        <button mat-raised-button color="primary" class="action-button" (click)="continue(guimodel.mailversandauftrag)"
            title="fortsetzen">fortsetzen</button>
        }
        @if(canAbbrechen(guimodel.mailversandauftrag)) {
        <button mat-raised-button color="primary" class="action-button" (click)="cancel(guimodel.mailversandauftrag)"
            title="abbrechen">abbrechen</button>
        }
        @if(canAktualisieren(guimodel.mailversandauftrag)) {
        <button mat-raised-button color="primary" class="action-button" (click)="refresh(guimodel.mailversandauftrag)"
            title="neu Laden">aktualisieren</button>
        }
    </div>

    <h3>Mailversandgruppen ({{guimodel.mailversandauftrag.mailversandgruppen.length}})</h3>

    <mat-table [dataSource]="guimodel.mailversandauftrag.mailversandgruppen" class="mat-elevation-z2">
        <!-- Sortnr Columns -->
        <ng-container matColumnDef="sortnr">
            <mat-header-cell *matHeaderCellDef> Nummer </mat-header-cell>
            <mat-cell *matCellDef="let gruppe"> {{ gruppe.sortnr }} </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let gruppe"> {{ gruppe.status }} </mat-cell>
        </ng-container>

        <!-- Änderungsdatum Column -->
        <ng-container matColumnDef="aenderungsdatum">
            <mat-header-cell *matHeaderCellDef> Änderungsdatum </mat-header-cell>
            <mat-cell *matCellDef="let gruppe"> {{ gruppe.aenderungsdatum }} </mat-cell>
        </ng-container>

        <!-- Anzahl Empfänger Column -->
        <ng-container matColumnDef="anzahlEmpfaenger">
            <mat-header-cell *matHeaderCellDef> Anzahl Empfänger </mat-header-cell>
            <mat-cell *matCellDef="let gruppe"> {{ gruppe.empfaengerUUIDs.length }} </mat-cell>
        </ng-container>

        <!-- Action Column details-->
        <ng-container matColumnDef="detailsAction">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let gruppe">
                <button mat-button color="primary" (click)="showDetails(gruppe)" title="Details anschauen">
                    <mat-icon>info</mat-icon> Details
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="versandgruppenDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: versandgruppenDisplayedColumns;"></mat-row>
    </mat-table>

    } @else {
    <h1>Versandauftrag</h1>

    <p>Kein Versandauftrag ausgewählt. Navigiere über das Menü oben woandershin. Auswahl ist unter "Mailversandaufträge"
        möglich.</p>
    }
</div>