@use '@angular/material' as mat;
@use 'theme.scss' as theme;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fafafa;
}

/**
* trick, um aus der Reihe tanzende components zu sehen - horizontaler scrollbar
**/
/*
* {
    outline: 1px solid red;
}
    */


a,
.link {
    color: mat.m2-get-color-from-palette(theme.$primary-palette, 700);
}

.centered {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.1rem;
}

.bordered {
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
}


mat-icon .clickable {
    cursor: pointer;
}

button.mat-mdc-raised-button[color="primary"] .mdc-button__label,
button.mat-mdc-outlined-button[color="primary"] .mdc-button__label,
button.mat-mdc-button[color="primary"] .mdc-button__label,
button.mat-mdc-raised-button[color="primary"] mat-icon,
button.mat-mdc-outlined-button[color="primary"] mat-icon,
button.mat-mdc-button[color="primary"] mat-icon {
    color: mat.m2-get-contrast-color-from-palette(theme.$primary-palette, 500);
}

.block {
    display: block;
}

.formcontrol-hint {
    font-size: small;
    margin-left: 1rem;
}

.hint {
    font-size: small;
    color: mat.m2-get-color-from-palette(theme.$primary-palette, 700);
}

.hint-red {
    font-size: small;
    color: red;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.m-1 {
    margin: 1rem;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

/* Container styles for the form using CSS Grid */
form {
    display: grid;
    grid-template-columns: 1fr;
    /* Single-column layout; adjust for multi-column as needed */
    gap: 16px;
    /* Space between rows and columns */
    max-width: 100%;
    /* Ensures form fits within the viewport */
}

/* Default styling for mat-form-field elements */
mat-form-field {
    margin: 0;
    /* Reset margin */
    width: 100%;
    /* Full width of the grid column */
    box-sizing: border-box;
    /* Ensures padding and border are included in width/height */
}

.mat-radio-button {
    margin: 0 12px;
}

.helper-text {
    color: mat.m2-get-color-from-palette(theme.$secondary-palette, 500);
    /* Default color */
    font-size: 0.9em;
}

.auth-form {
    width: 100%;
    margin-bottom: 2rem;
}

.block {
    display: block;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    align-items: center;
    margin-left: 2rem;
    grid-gap: 2rem;
}



label {
    font-weight: bold;
}

@media (max-width: 600px) {

    /* Breakpoint for smartphones */
    .button-container {
        display: grid;
        grid-template-columns: 1fr;
        /* Stack buttons in a single column */
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        grid-gap: 1rem;
    }

    mat-form-field {
        margin: 0 0 3em 0; /* Adds margin-bottom */
    }
}