<div>
    <p>DSGVO- konformes Benutzerkonto für Angebote von "Mathe für
        jung und alt":</p>

    <ul class="info-list">
        <li class="info-item">
            <a href="https://mathe-jung-alt.de/mkv-app" target="_blank">Minikänguru-Anwendung - zur Organisation Ihres Minikänguru-Wettbewerbs</a>
        </li>
        <li class="info-item">
            <a href="https://mathe-jung-alt.de/mja-app/" target="_blank">Anwendung "Mathe für jung und alt" mit Unterrichtsmaterial</a>
        </li>
    </ul>


    <p>Informationen zum Datenschutz finden Sie hier: <a href="{{configuration.datenschutzUrl}}"
            target="_blank">Datenschutz</a></p>


    <p>Zum Ändern Ihrer Kontodaten (Name, Vorname, Loginname, Email, Passwort) oder zum Löschen Ihres Benutzerkontos
        klicken Sie bitte auf "Kontodaten ändern". Sie werden dann in die Anwendung "Mathe-jung-alt - Benutzerprofil" umgeleitet.</p>
    <p>
        <button mat-raised-button color="primary" matTooltip="zurück zur Suche"
            (click)="redirectToProfilApp()">Kontodaten ändern</button>
    </p>
    @if(configuration.production === false) {
    <p>URL Benutzerprofil: {{configuration.profilUrl}}</p>
    }
</div>