* {
	/** box content wird automatisch so berechnet, dass width und height konstant bleiben */
	box-sizing: border-box;
  }
  
  html,
  body {
	height: 100%;
	width: 90%;
  }
  
  body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
  }
  
  .main {
	margin-top: 30px
  }
  
.kleber {
	position: fixed;
	left: -1000px;
}

.label-bold {
	font-weight: bold;
}

.bordered {
	border: 2px solid red;
	padding: 5pt 10pt 0 10pt;
}

.ml-1 {
    margin-left: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	body {
	  width: 100%;
	}
  
	.checkbox-text {
	  font-size: 1rem;
	  font-weight: bold;
	}
  
	.cell {
	  background: white;
	  border: 1px solid black;
	}
  
}
  