<div class="main">
    <div class="content">
        <auth-common-loader></auth-common-loader>
        <auth-common-message></auth-common-message>
        <div class="centered">
            <img src={{imageSourceLogo}} alt="" aria-role="mathe-jung-alt-Logo" />
            <h1>{{titel}}</h1>
        </div>
 
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="row">
            <div class="col-md-4 text-md-left">&copy; Heike Winkelvoß</div>
            @if(!configuration.production){
            <div class="col-md-4 text-xs-center">env: {{configuration.envName}}, API: {{configuration.baseUrl}}</div>
            }
            <div class="col-md-4 text-md-right">Version {{configuration.version}}</div>
        </div>
    </footer>
</div>