bin/
target/
.settings/
.project
.classpath
/dependency-reduced-pom.xml
log/
ObjectStore/
.env
src/main/resources/META-INF/resources/benutzerprofil/
*.iml
/src/main/resources/META-INF/resources/open-api/openapi.json
/src/main/resources/META-INF/resources/open-api/openapi.yaml

