<h2>Sie haben Ihr Passwort vergessen?</h2>
<p>Dann können Sie hier ein Einmalpasswort anfordern, mit dem Sie im nächsten Schritt Ihr Passwort selbst neu setzen
    können.</p>
<p>Geben Sie bitte die Mailadresse Ihres Benutzerkontos ein, um ein Einmalpasswort anzufordern.</p>

@if(!(forgotPasswordFacade.tempPasswordSuccess$ | async)) {
<form [formGroup]="orderPwdForm">
    <mat-form-field appearance="fill">
        <mat-label>Mailadresse</mat-label>
        <input matInput formControlName="email" type="text"
            [ngClass]="{ 'invalid-field': orderPwdForm.get('email')?.invalid && orderPwdForm.get('email')?.touched }">
        @if (orderPwdForm.get('email')?.hasError('required')) {
        <mat-error>Eine Mailadresse ist erforderlich.</mat-error>
        }
        @if (orderPwdForm.get('email')?.hasError('email')) {
        <mat-error>Bitte geben Sie eine gültige Mailadresse ein.</mat-error>
        }
        @if (orderPwdForm.get('email')?.hasError('maxlength')) {
        <mat-error>Die Mailadresse darf maximal 255 Zeichen lang sein.</mat-error>
        }
    </mat-form-field>

    <div class="kleber">
        <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput formControlName="kleber" type="text">
        </mat-form-field>
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="buttonSubmitDisabled()"
            (click)="submit()"><mat-icon class="nav-item">save</mat-icon>absenden</button>
        <button mat-raised-button color="primary" type="submit"
            (click)="gotoStartseite()"><mat-icon class="nav-item">home</mat-icon>zurück</button>
        <a href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html" target="_blank">Anleitung
            Passwort vergessen</a>
    </div>

</form>
}
@else {
    <div class="button-container">
        <button mat-raised-button color="primary" type="submit"
            (click)="gotoStartseite()"><mat-icon class="nav-item">home</mat-icon>zurück</button>
        <a href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html" target="_blank">Anleitung
            Passwort vergessen</a>
    </div>
}