<!-- Falls die modalOpenOnClick-Direktive verwendet wird, Dialog zum Anzeigen des SignUp-Erfolgs inside *ngIf, weil sie sonst keine Elemente bekommt -->
<div>
	<!-- Dialog mit Erfolgsmeldung -->
	<ng-template #successDialogBody>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h4>Einmalpasswort versendet</h4>
				</div>
				<div class="card-body">
					<p>{{message}}</p>
				</div>
				<div class="card-footer">
					<div class="row btn-container">
						<div class="col-md-12 btn-wrapper">
							<div class="col-md-12 btn btn-outline-dark" (click)="closeModal()">
								OK
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>

<hewi-modal *ngIf="showMessage" #modal [hideOnEscape]="false" [hideOnClickOutside]="false" [body]="successDialogBody">
	<!-- === kein close-icon, da unbedingt redirect ausgelöst werden muss -->
	<!--<i class="fa fa-times" (click)="modal.close()"></i>-->
</hewi-modal>

<div class="page">

	<div *ngIf="!showMessage">
		<p>Geben Sie bitte die Mailadresse Ihres Minikänguru-Kontos ein, um ein Einmalpasswort anzufordern.</p>

		<form novalidate [formGroup]="orderPwdForm">
			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<label for="emailInput">Email*</label>
					</div>
				</div>
				<div class="row" [class.error]="email.touched && !email.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="emailInput" placeholder="Email"
							formControlName="email" autocomplete="true">
					</div>
				</div>
				<auth-form-error path="loginName" text="Loginname oder Email"></auth-form-error>
			</div>

			<div class="form-group kleber">
				<label for="kleberInput">Kleber:</label>
				<input class="form-control" type="text" id="kleberInput" placeholder="leer lassen!!!!"
					formControlName="kleber">
			</div>

			<div class="btn-group d-flex" role="group">

				<button class="btn btn-primary w-100 ml-1" (click)="submit()" [disabled]="!orderPwdForm.valid">
					absenden
				</button>

				<a class="btn btn-outline-dark w-100 ml-1"
					href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.pdf"
					target="_blank">Anleitung Passwort vergessen</a>
			</div>
		</form>
	</div>
	<div *ngIf="showMessage" class="row">
		<p>{{message}}</p>
	</div>
</div>
