<div class="page">

	<p>Geben Sie bitte die Mailadresse Ihres Benutzerkontos ein, um ein Einmalpasswort anzufordern.</p>

	<form novalidate [formGroup]="orderPwdForm">
		<div class="form-group">
			<div class="row">
				<div class="col-md-12">
					<label for="emailInput">Email*</label>
				</div>
			</div>
			<div class="row" [class.error]="email.touched && !email.valid">
				<div class="col-md-12">
					<input class="form-control" type="text" id="emailInput" placeholder="Email"
						formControlName="email" autocomplete="true">
				</div>
			</div>
			<cmn-form-error path="loginName" text="Loginname oder Email"></cmn-form-error>
		</div>
		<div class="form-group kleber">
			<label for="kleberInput">Kleber:</label>
			<input class="form-control" type="text" id="kleberInput" placeholder="leer lassen!!!!"
				formControlName="kleber">
		</div>

		<div *ngIf="appData.loading$ | async as isLoading" class="mt-4 mb-4">
			<div *ngIf="!isLoading else loadingIndicator"></div>
		</div>

		<div class="btn-group d-flex" role="group">
			<button class="btn btn-primary w-100 ml-1" (click)="submit()" [disabled]="!orderPwdForm.valid">
				absenden
			</button>
			<a class="btn btn-outline-dark w-100 ml-1"
				href="https://mathe-jung-alt.de/minikaenguru/anleitungen/passwort-vergessen.html"
				target="_blank">Anleitung Passwort vergessen</a>
		</div>
	</form>
</div>

<ng-template #dialogPasswordVersendet let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Einmalpasswort versendet</h4>
    </div>
    <div class="modal-body">
        <p>{{message}}</p>
	</div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>

<ng-template #loadingIndicator>
	<div class="img">
		<i class="fa fa-spinner fa-spin"></i> Bitte warten...
	</div>
</ng-template>
