<div *ngIf="isLoggedIn()">	
	<prfl-profil></prfl-profil>	
</div>

<div *ngIf="!showLoadingIndicator else loadingIdicator"></div>

<div *ngIf="isLoggedIn()" class="d-md-none d-lg-none d-xl-none">
	<div class="btn-group d-inline" role="group">
		<button class="btn btn-secondary w-100 m-1" (click)="logOut()"><i class="fa fa-sign-out"></i> logout </button>
	</div>
</div>

<div *ngIf="!isLoggedIn()" class="d-md-none d-lg-none d-xl-none">
	<div class="btn-group d-inline" role="group">
		<button class="btn btn-secondary w-100 m-1" (click)="logIn()"><i class="fa fa-sign-in"></i> login </button>
	</div>
</div>

<ng-template #loadingIdicator>
	<div class="img">
		<h3><i class="fa fa-spinner fa-spin"></i> Bitte warten...</h3>
	</div>
</ng-template>
