<div *ngIf="isLoggedIn()">	
	<prfl-profil></prfl-profil>	
</div>

<div *ngIf="isLoggedIn()" class="d-md-none d-lg-none d-xl-none">
	<div class=" d-inline" role="group">
		<button class="btn btn-secondary w-100 m-1" (click)="logOut()"><i class="fa fa-sign-out"></i> logout </button>
	</div>
</div>

<div *ngIf="!isLoggedIn()" class="d-md-none d-lg-none d-xl-none">
	<div class=" d-inline" role="group">
		<button class="btn btn-secondary w-100 m-1" (click)="logIn()"><i class="fa fa-sign-in"></i> login </button>
	</div>
</div>