label {
    font-size: 16px;
}

.mdc-data-table__header-cell {
    padding: 0 3px 0 3px;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) {
    .mat-sort-header-arrow {
        opacity: 0.54 !important; // Ensure the arrow is always visible
    }

    .mat-sort-header-content {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

