<div class="centered benutzer-container">

    <h1>Benutzersuche</h1>

    <!-- (page)="onPageChange($event)"-->
    <mat-paginator 
        [length]="anzahlBenutzer"
        [pageSizeOptions]="[25,30,50]"
        aria-label="Bitte wähle, wie viele Ergebnisse pro Seite angezeigt werden sollen."
        showFirstLastButtons
        (page)="findBenutzer()"     
    >
    </mat-paginator>
    
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mt-2" matSort (matSortChange)="sortData($event)"
        matSortDirection="asc">

        <!-- Auswahl Benutzer column-->
        <ng-container matColumnDef="auswahlBenutzer">
            <mat-header-cell *matHeaderCellDef>
                <label>Auswahl</label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="toggleRow(row)"
                  [checked]="selectionModel.isSelected(row)"
                ></mat-checkbox>
              </mat-cell>>
        </ng-container>


        <!-- UUID -->
        <ng-container matColumnDef="uuid">
            <mat-header-cell *matHeaderCellDef>
                <div class="grid-container-1">
                    <label>
                        UUID
                    </label>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <input matInput placeholder="UUID" [(ngModel)]="uuidFilterValue" (ngModelChange)="updateResetFilterButtonState()">
                    </mat-form-field>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.uuid.substring(0,8)}}
              </mat-cell>>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>
                <div class="grid-container-1">
                    <label mat-sort-header>
                        Email
                    </label>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <input matInput placeholder="Email" [(ngModel)]="emailFilterValue" (ngModelChange)="updateResetFilterButtonState()">
                    </mat-form-field>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.email}}
              </mat-cell>>
        </ng-container>

        <!-- Nachname -->
        <ng-container matColumnDef="nachname">
            <mat-header-cell *matHeaderCellDef>
                <div class="grid-container-1">
                    <label mat-sort-header>
                        Nachname
                    </label>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <input matInput placeholder="Nachname" [(ngModel)]="nachnameFilterValue" (ngModelChange)="updateResetFilterButtonState()">
                    </mat-form-field>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.nachname}}
              </mat-cell>>
        </ng-container>

        <!-- Vorname -->
        <ng-container matColumnDef="vorname">
            <mat-header-cell *matHeaderCellDef>
                <div class="grid-container-1">
                    <label mat-sort-header>
                        Vorname
                    </label>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <input matInput placeholder="Vorname" [(ngModel)]="vornameFilterValue" (ngModelChange)="updateResetFilterButtonState()">
                    </mat-form-field>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.vorname}}
              </mat-cell>>
        </ng-container>

        <!-- dateModified -->
        <ng-container matColumnDef="dateModified">
            <mat-header-cell *matHeaderCellDef>
                <div class="grid-container-1">
                    <label mat-sort-header>
                        geändert am
                    </label>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <input matInput placeholder="Datum geändert" [(ngModel)]="dateModifiedFilterValue" (ngModelChange)="updateResetFilterButtonState()">
                    </mat-form-field>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.dateModified}}
              </mat-cell>>
        </ng-container>

        <!-- Rolle -->
        <ng-container matColumnDef="rolle">
            <mat-header-cell *matHeaderCellDef>
                <div class="grid-container-1">
                    <label>
                        Rolle
                    </label>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <input matInput placeholder="Rolle" [(ngModel)]="rolleFilterValue" (ngModelChange)="updateResetFilterButtonState()">
                    </mat-form-field>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let benutzer">
                {{benutzer.rollen}}
              </mat-cell>>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns()" [ngClass]="{
            'bg-beige': !row.aktiviert
          }"></mat-row>
    </mat-table>

    <div class="button-container">
        <button mat-raised-button color="primary" class="action-button" (click)="findBenutzer()">suchen</button>
        <button mat-raised-button color="accent" class="action-button" (click)="resetFilter()" [disabled]="resetFilterDisabled()" >Filter leeren</button>
      </div>
</div>