<div class="page">

	<div *ngIf="user$ | async as user">

		<form novalidate [formGroup]="changeDataForm">

			<div class="form-group mb-2">
				<div class="row">
					<div class="col-md-12">
						<label for="vornameInput" class="label-bold">Vorname*</label>
					</div>
				</div>
				<div class="row" [class.error]="vorname.touched && !vorname.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="vornameInput" placeholder="Vorname"
							formControlName="vorname" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="vorname" text="Vorname"></cmn-form-error>
			</div>
			<div class="form-group mb-2">
				<div class="row">
					<div class="col-md-12">
						<label for="nachnameInput" class="label-bold">Nachname*</label>
					</div>
				</div>
				<div class="row" [class.error]="nachname.touched && !nachname.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="nachnameInput" placeholder="Nachname"
							formControlName="nachname" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="nachname" text="Nachname"></cmn-form-error>
			</div>
			<div *ngIf="showLoginName" class="form-group mb-2">
				<div class="row">
					<div class="col-md-12">
						<label for="loginNameInput" class="label-bold">Loginname*</label>
					</div>
				</div>
				<div class="row" [class.error]="loginName.touched && !loginName.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="loginNameInput" placeholder="Loginname"
							formControlName="loginName" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="loginName" text="Loginname"></cmn-form-error>
			</div>

			<div class="form-group mb-2">
				<div class="row">
					<div class="col-md-12">
						<label for="emailInput" class="label-bold">Email*</label>
					</div>
				</div>
				<div class="row" [class.error]="email.touched && !email.valid">
					<div class="col-md-12">
						<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse"
							formControlName="email" autocomplete="true">
					</div>
				</div>
				<cmn-form-error path="email" text="Email"></cmn-form-error>
			</div>

			<div class=" d-flex mt-2" role="group">
				<button class="btn btn-primary w-100 ml-1" (click)="submit()"
					[disabled]="!changeDataForm.valid || showBlockingIndicator">
						Daten ändern
				</button>
				<button class="btn btn-primary w-100 ml-1" (click)="cancel()" [disabled]="showBlockingIndicator">
					abbrechen
				</button>
			</div>

			<div class="row">
				<div *ngIf="showBlockingIndicator" class="col-md-4">
					<div class=" img">
						<i class="fa fa-spinner fa-spin"></i> Bitte warten...</div>
				</div>
			</div>
		</form>
	</div>
</div>