<div class="page">

	<div class="border border-danger p-4" *ngIf="user$ | async as user else loadingIndicator">


		<h3>Benutzerkonto Löschen</h3>

		<p>Ihre Benutzerdaten werden vollständig gelöscht und sind anschließend nicht wiederherstellbar.</p>

		<p>Nach dem Löschen des Benutzerkontos können Sie keine der Anwendungen mehr nutzen, für die Sie
			sich registriert hatten.</p>

		<form novalidate [formGroup]="deleteAccountForm">

			<div class="form-check">
				<div class="row">
					<div class="col-md-12">
						<input type="checkbox" class="form-check-input" id="checkAccept" formControlName="checkAccept">
						<label [class.error]="checkAccept.touched && !checkAccept">* Ja, ich möchte mein
							Benutzerkonto vollständig löschen.
						</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-4 btn-wrapper">
					<button class="col-md-12 btn btn-danger" (click)="submit()"
						[disabled]="!deleteAccountForm.valid || showBlockingIndicator">
						Konto löschen
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<ng-template #loadingIndicator>
	<div class="img">
		<h3><i class="fa fa-spinner fa-spin"></i> Bitte warten...</h3>
	</div>
</ng-template>

<ng-template #dialogAccountDeleted let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Benutzerkonto gelöscht</h4>
    </div>
    <div class="modal-body">
        <p>Ihr Benutzerkonto wurde erfolgreich gelöscht.</p>
	</div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>
