<div class="page">

	<div *ngIf="user$ | async as queryParams else loadingIdicator">

		<form [formGroup]="changePwdForm">

			<!-- formControlName muss dieser Komponente der key eines FormControls sein... -->
			<!-- ...und in der password-spy.component mit einem AbstractControl gleichen Namens verknüpft sein... -->
			<cmn-password id="passwortInput" formControlName="password" textLabel="Passwort"></cmn-password>
			
			<!-- formControlName muss in dieser Komponente der key eines FormControls sein... -->
			<!-- Auf die Werte in der FormGroup wird über die Namen der einzelnen Controls zugegriffen -->
			<cmn-double-password id="doublePassword" formControlName="doublePassword" labelFirstPassword="Neues Passwort" labelSecondPassword="Neues Passwort wiederholt" ></cmn-double-password>

			<div class="btn-group d-flex" role="group">
				<button class="btn btn-primary w-100 ml-1" (click)="submit()" [disabled]="submitDisabled()">
						Passwort ändern
				</button>
				<button class="btn btn-primary w-100 ml-1" (click)="openDialogPasswordRules()" title="{{tooltipPasswort}}">
					Passwortregeln
				</button>
			</div>

			<div class="row">
				<div *ngIf="showBlockingIndicator" class="col-md-4">
					<div class=" img">
						<i class="fa fa-spinner fa-spin"></i> Bitte warten...</div>
				</div>
			</div>
		</form>
	</div>
</div>

<ng-template #dialogPasswordRules let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Paswortregeln</h4>
    </div>
    <div class="modal-body">
        <p>mindestens 8 und höchstens 100 Zeichen</p>
		<p>mindestens ein Buchstabe und mindestens eine Ziffer</p>    
		<p>keine Leerzeichen am Anfang und am Ende</p>
		<p>erlaubte Sonderzeichen: {{theSonderzeichen}}</p>
    </div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>

<ng-template #loadingIdicator>
	<h3>Bitte warten...</h3>
</ng-template>
