/* Base styling for toolbar and items */
mat-toolbar {
    background-color: #133d6b;
    color: white;
    display: flex;
    align-items: center;
}

/* Styling for menu items */
mat-toolbar a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for menu items */
mat-toolbar a:hover, mat-toolbar a:active{
    background-color: white;
    color: #133d6b;
    border-radius: 8px;
}

/* Spacer for alignment */
.toolbar-spacer {
    flex: 1 1 auto;
}

/* Icon styling */
mat-icon,
.nav-item {
    margin-right: 8px;
    color: inherit;
}

/* Adjust text spacing */
.nav-caption {
    font-size: 14px;
    font-weight: 500;
}